.word-display{
    border: 4px var(--color3) solid;
    /* margin: auto; */
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color2);
}

.button1{
    height: 70px;
    width: 70px;
    background-color: var(--color1);
    color: var(--color4);
    font-size: 3em;
    border: 1px var(--color3) solid;
    border-radius: 5px;
}

.typography{
    font-size: 3em;
    color: var(--color4);
    background-color: var(--color1);
    padding: 10px;
    border: 1px var(--color3) solid;
    border-radius: 10px;
    margin: 10px;
}